@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  :root {
    /* Minimalista Moderno */
    --color1: #FFFFFF ;
    --color2: #000000 ;
    --color3: #7B7D7D ;
    --color4: #CCCCCC ;
    --color5: #EAEDED ;
    /* Neutros Calidos */
    /* --color1: #FEF9E7  ;
    --color2: #FCF3CF  ;
    --color3: #F9E79F  ;
    --color4: #F7DC6F  ;
    --color5: #F4D03F  ; */
    /* Verde y Gris */
    /* --color1: #E8F8F5  ;
    --color2: #D1F2EB  ;
    --color3: #A3E4D7  ;
    --color4: #76D7C4  ;
    --color5: #1ABC9C  ; */
    /* Gris y Blanco */
    /* --color1: #FAFAFA  ;
    --color2: #F0F0F0  ;
    --color3: #D7DBDD  ;
    --color4: #BDC3C7  ;
    --color5: #7F8C8D  ; */
    /* Monocromatica Azul */
    /* --color1: #EBF5FB  ;
    --color2: #D6EAF8  ;
    --color3: #AED6F1  ;
    --color4: #5DADE2  ;
    --color5: #2E86C1  ; */
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .layout-header {
    width: 100%;
    height: 50px;
    /* background-color: #333; */
    /* color: white; */
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  main {
    flex-grow: 1;
    padding: 1rem;
    margin-left: 50px;
  }

  .sideBar {
    width: 250px;
    background-color: #f4f4f4;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
  }